@page
@model Faculty.Pages.AddNewResourceModel
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Admin Dashboard";
    ViewData["Name"] = Model.CurrentProfile.FullName;
    ViewData["Department"] = Model.CurrentProfile.Department;
    ViewData["College"] = Model.CurrentProfile.College;
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2 class="text-center" style="font-family:'Comic Sans MS';">Add New Course Resource</h2>
    <hr />
    <br />
    <form method="post">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-danger"></div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
                <label asp-for="newResource.CourseID">Select Course:</label>
                <select class="form-control" asp-for="newResource.CourseID">
                    @foreach (var course in Model.CoursesList)
                    {
                        <option value="@course.ID">@(course.CourseTitle + " - " + course.CourseSemester + " Semester " + course.CourseYear)</option>
                    }
                </select>
                <span asp-validation-for="newResource.CourseID" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
                <label asp-for="newResource.ResourceTitle">Resource Title:</label>
                <input type="text" class="form-control" asp-for="newResource.ResourceTitle" required />
                <span asp-validation-for="newResource.ResourceTitle" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                <input type="submit" class="btn " value="Continue" style="background-color:#34495e;color:#FFFFFF;" />

            </div>
        </div>
    </form>
    <br />
    <br />
}
else
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p class="text-danger text-center">You Can View This Page Only If You Are Logged In.</p>
    <br />
    <div class="text-center">
        <a class="btn btn-default" asp-page="/Login">Login</a>

    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}