@page
@model Faculty.Pages.ChangePasswordModel
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Admin Dashboard";
    ViewData["Name"] = Model.CurrentProfile.FullName;
    ViewData["Department"] = Model.CurrentProfile.Department;
    ViewData["College"] = Model.CurrentProfile.College;
}

<h2 class="text-center" style="font-family:'Comic Sans MS';">Change Password</h2>
<hr />
<br />
<form method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 text-danger"></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 form-group">
            <label asp-for="InputData.OldPassword">Old Password:</label>
            <input type="password" class="form-control" asp-for="InputData.OldPassword" />
            <span asp-validation-for="InputData.OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 form-group">
            <label asp-for="InputData.NewPassword">New Password:</label>
            <input type="password" class="form-control" asp-for="InputData.NewPassword" />
            <span asp-validation-for="InputData.NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 form-group">
            <label asp-for="InputData.ConfirmNewPassword">Confirm New Password:</label>
            <input type="password" class="form-control" asp-for="InputData.ConfirmNewPassword" />
            <span asp-validation-for="InputData.ConfirmNewPassword" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

            <input type="submit" class="btn " value="Change Password" style="background-color:#34495e;color:#FFFFFF;" />

        </div>
    </div>
</form>
<br />
<br />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}