@page
@model Faculty.Pages.CreateAccountStudentModel
@{
    Layout = "MainLayout";
    ViewData["Title"] = "Create Account";
    ViewData["Name"] = Model.CurrentProfile.FullName;
    ViewData["Department"] = Model.CurrentProfile.Department;
    ViewData["College"] = Model.CurrentProfile.College;
}

<h2 class="text-center" style="font-family:'Comic Sans MS';">Create Account</h2>
<hr />
<br />
<br />
<form method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-danger"></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 form-group">
            <label asp-for="NewStudent.FullName">Full Name:</label>
            <input type="text" class="form-control" asp-for="NewStudent.FullName" style="text-transform:capitalize;" />
            <span asp-validation-for="NewStudent.FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 form-group">
            <label asp-for="NewStudent.EmailID">Email ID:</label>
            <input type="text" class="form-control" asp-for="NewStudent.EmailID" />
            <span asp-validation-for="NewStudent.EmailID" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 form-group">
            <label asp-for="NewStudent.Password">Password:</label>
            <input type="password" class="form-control" asp-for="NewStudent.Password" />
            <span asp-validation-for="NewStudent.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 form-group">
            <label asp-for="NewStudent.ConfirmPassword">Confirm Password:</label>
            <input type="password" class="form-control" asp-for="NewStudent.ConfirmPassword" />
            <span asp-validation-for="NewStudent.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 form-group">
            <label asp-for="NewStudent.RollNumber">Roll Number:</label>
            <input type="text" class="form-control" asp-for="NewStudent.RollNumber" />
            <span asp-validation-for="NewStudent.RollNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 form-group">
            <label asp-for="NewStudent.Degree">Degree and Program:</label>
            <select class="form-control" asp-for="NewStudent.Degree">
                <option value="B.Tech CSE">B.Tech CSE</option>
                <option value="B.Tech CSE-IS">B.Tech CSE-IS</option>
                <option value="B.Tech IT">B.Tech IT</option>
                <option value="M.Tech CSE">M.Tech CSE</option>
                <option value="M.Tech CSE-IS">M.Tech CSE-IS</option>
                <option value="M.Tech IT">M.Tech IT</option>
                <option value="M.Tech(R) CSE">M.Tech(R) CSE</option>
                <option value="M.Tech(R) CSE-IS">M.Tech(R) CSE-IS</option>
                <option value="M.Tech(R) IT">M.Tech(R) IT</option>
                <option value="B.Tech Other">B.Tech Other</option>
                <option value="M.Tech Other">M.Tech Other</option>
                <option value="Other">Other</option>
            </select>
            <span asp-validation-for="NewStudent.Degree" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 form-group">
            <label asp-for="NewStudent.Year">Year:</label>
            <select class="form-control" asp-for="NewStudent.Year">
                <option value="First Year">First Year</option>
                <option value="Second Year">Second Year</option>
                <option value="Third Year">Third Year</option>
                <option value="Fourth Year">Fourth Year</option>
                <option value="Fifth Year">Fifth Year</option>
                <option value="Sixth Year">Sixth Year</option>
            </select>
            <span asp-validation-for="NewStudent.Year" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

            <input type="submit" class="btn " value="Create Account" style="background-color:#34495e;color:#FFFFFF;" />

        </div>
    </div>
</form>
<br />
<br />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


