@page
@model Faculty.Pages.DeletePhdScholarModel
@{
    ViewData["Title"] = "Delete PhD Scholar";
}

<h1 class="text-center" style="font-family:'Comic Sans MS';">Delete Phd Scholar</h1>
<hr />
<br />
<br />
<form method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-danger"></div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
            <label asp-for="Student.StudentName">Name of Student:</label>
            <input type="text" class="form-control" asp-for="Student.StudentName" style="background-color:#ecf0f1;" disabled />
            <span asp-validation-for="Student.StudentName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
            <label asp-for="Student.ThesisTitle">Thesis Title:</label>
            <input type="text" class="form-control" asp-for="Student.ThesisTitle" style="background-color:#ecf0f1;" disabled />
            <span asp-validation-for="Student.ThesisTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
            <label asp-for="Student.DegreeStatus">Degree Status (Complete/Ongoing):</label>
            <select class="form-control" asp-for="Student.DegreeStatus" style="background-color:#ecf0f1;" disabled>
                <option value="Ongoing">Ongoing</option>
                <option value="Completed">Completed</option>
            </select>
            <span asp-validation-for="Student.DegreeStatus" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
            <label asp-for="Student.DegreeCompletion">Degree Completion Year(if Completed):</label>
            <input type="text" class="form-control" asp-for="Student.DegreeCompletion" style="background-color:#ecf0f1;" disabled />
            <span asp-validation-for="Student.DegreeCompletion" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
            <label asp-for="Student.College">College/University:</label>
            <input type="text" class="form-control" asp-for="Student.College" style="background-color:#ecf0f1;" disabled />
            <span asp-validation-for="Student.College" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <input type="submit" class="btn " value="Confirm Delete" style="background-color:#34495e;color:#FFFFFF;" />
        </div>
    </div>
</form>
<br />
<br />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}