@page
@model Faculty.Pages.UploadAssignmentAttachmentPageModel
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Admin Dashboard";
    ViewData["Name"] = Model.CurrentProfile.FullName;
    ViewData["Department"] = Model.CurrentProfile.Department;
    ViewData["College"] = Model.CurrentProfile.College;
}

@if (User.Identity.IsAuthenticated)
{
    <h1 class="text-center" style="font-family:'Comic Sans MS';">Upload Assignment Attachment</h1>
    <h4 class="text-center" style="font-family:'Comic Sans MS';">(Optional)</h4>
    <hr />
    <br />
    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 col-lg-offset-3 col-md-offset-3 text-center">
            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#myModal2">Upload Attachment</button>
            <div class="modal fade" id="myModal2" role="dialog" style="background-color:#ecf0f1;">
                <div class="modal-dialog" style="background-color:#ecf0f1;">
                    <div class="modal-content" style="background-color:#ecf0f1;">
                        <div class="modal-header" style="background-color:#ecf0f1;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Upload Attachment</h4>
                        </div>
                        <div class="modal-body" style="background-color:#ecf0f1;">
                            <form asp-page="/UploadAssignmentAttachment" method="post" enctype="multipart/form-data" class="form-inline">
                                <input type="file" name="file" class="btn btn-sm" />
                                <button type="submit" class="btn btn-sm">Upload</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

            <a class="btn " asp-page="/EditAssignmentsPage" style="background-color:#34495e;color:#FFFFFF;">Done</a>

        </div>
    </div>
}
else
{
    <hr />
    <br />
    <br />
    <p class="text-danger text-center">You Can View This Page Only If You Are Logged In.</p>
    <br />
    <div class="text-center">
        <a class="btn btn-default" asp-page="/Login">Login</a>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}